body {
  font-family: "Noto Serif", serif;
  font-family: "Roboto", sans-serif;
  font-family: "Space Grotesk", sans-serif;
}

/* header section */
header {
  background: rgba(229, 84, 115, 0.1);
  display: flex;
  /* justify-content: space-around; */
}
.text-section {
  /* width: 800px; */
  margin-left: 90px;
}
.text-section h1 {
  color: #272727;
  font-size: 60px;
  font-weight: 800;
}
.text-section p {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  line-height: 30px;
  margin-top: 5px;
}
.text-section button {
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 8px;
  background: #e55473;
  border: 0;
  margin-bottom: 80px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}
.img-section img {
  width: 600px;
  margin-bottom: 0;
  margin-left: 60px;
  margin-top: 60px;
  /* margin-right: 100px; */
}
/* end of header part */
/* start of main */

main {
  margin: 100px 120px;
}

.section-title {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}
.section-text {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.flowers {
  display: flex;
}
.flower {
  margin-right: 40px;
  width: 464px;
  height: 438px;
  border-radius: 300px 300px 0px 0px;
}

.one {
  background: rgba(167, 33, 98, 0.15);
}
.two {
  background: rgba(5, 151, 160, 0.15);
}
.three {
  background: rgba(71, 125, 17, 0.15);
}
.flower-img img {
  width: 240px;
  margin-top: 80px;
  margin-left: 30px;
}
.flower-text {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.flower-text p {
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
  color: #272727;
  font-size: 24px;
  font-weight: 600;
  line-height: 35px;
  text-decoration-line: underline;
  text-underline-offset: 6px;
}

.event-service {
  margin-top: 50px;
}
.services {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.service {
  cursor: pointer;
  padding: 10px 5px;
  border-radius: 10px;
  box-shadow: 5px 10px 3px #f1ececec;
}

.service:hover {
  box-shadow: 10px 30px 10px #f1ececec;
}

.service img {
  padding: 0 2px;
  /* margin: 10px auto; */
  border-radius: 10px;
  height: 250px;
  width: 100%;
  margin-right: 40px;
  display: block;
}
.service-text {
  padding: 5px 10px;
}
.service-text h1 {
  text-align: center;
}
.service-text p {
  font-size: 18px;
  color: #636363;
}
.service button {
  display: block;
  text-align: center;
  margin: 3px auto;
  color: aliceblue;
  background-color: #e55473;
  border: 0;
  padding: 5px 12px;
  cursor: pointer;
  border-radius: 3px;
}
.service button:hover {
  background-color: #fa1446;
  letter-spacing: 2px;
}

.support-session {
  margin-top: 150px;
  background-color: rgba(39, 39, 39, 0.05);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.support {
  margin-top: 30px;
}

.support-img img {
  width: 80px;
  margin: 5px 80px;
}
.support-text {
  text-align: center;
  color: rgba(39, 39, 39, 0.8);
  font-size: 18px;
  font-weight: 600;
  line-height: 35px;
}
/* end of main */
.offer-deal {
  margin-top: 30px;
  margin-bottom: 60px;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  display: flex;
  align-items: center;
}

.offer-text {
  margin-left: 80px;
  margin-right: 50px;
  text-align: center;
}
.offer-text h1 {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
}
.offer-text p {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  width: 500px;
}
.offer-text span {
  color: #e55473;
  font-size: 55px;
  font-family: "Love Ya Like A Sister", cursive;
  letter-spacing: 3px;
}
.offer-text button {
  border-radius: 8px;
  background: #e55473;
  color: #fff;
  border: 0;
  padding: 10px 18px;
  cursor: pointer;
}

.instragram-update-deals {
  margin: 100px 120px;
}
.instragrams-section {
  margin: 140px 100px;
}
.instragrams-section p {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}
.images {
  width: 100%;
  display: flex;
  gap: 30px;
  /* justify-content: space-around; */
}
.images img {
  border-radius: 10px;
  box-shadow: 10px 5px 10px #f7dada;
  display: block;
  width: 25%;
  height: 300px;
}

.subscribe-section {
  background-image: url("/Images/Rectangle\ 9.png");
  background-repeat: no-repeat;
  width: 1000px;

  border-radius: 10px;
  text-align: center;
}
.subscribe {
  padding: 60px 100px;
  text-align: center;
}
.text {
  margin-top: 40px;
}
.text p {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  line-height: 30px;
}
.subscribe-section form {
  width: 100%;
  margin-top: 50px;
}

input {
  margin-left: 20px;
}
input[type="email"] {
  width: 60%;
  padding: 12px 14px;
  border: 0;
  border-radius: 8px;
}
input[type="button"] {
  border-radius: 8px;
  background: #e55473;
  color: #ffdfff;
  border: 0;
  padding: 10px 12px;
  cursor: pointer;
}

footer {
  text-align: center;
  color: #fff;
  background-color: #111010;
  padding: 30px 40px;
}
footer h1 {
  color: #fff;
  font-size: 48px;
  font-weight: 800;
}
footer span {
  color: #e55473;
  font-size: 55px;
  font-family: "Love Ya Like A Sister", cursive;
}
footer p {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

footer small {
  color: rgba(255, 255, 255, 0.4);
  font-size: 16px;
  font-weight: 400;
}
